$dark: #1c1427;
$shy: #838383;
$green: #ccffbd ;
$green-two: #d6fad7;
$orange: #f5993d;
$shadow: rgba(0,0,0, .9);
$second-green: #7eca9c;
$third-green: rgb(33, 203, 97);
$gradient-nav: radial-gradient(circle at top right, rgba(0, 255, 55, 0.75) 0%, rgba(16, 117, 7, 0.75) 100%);


$light-green-gradient: linear-gradient(45deg, rgba(8, 255, 193, 0.7), rgba(16, 255, 8, 0.7));
$light-dark-gradient: linear-gradient(45deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7));